<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <!-- Three differnet ways to link_to our product-->
  <%= link_to 'Details', product_path(id: product.id)%>
  <%= link_to 'Details', product_path(product)%>
  <%= link_to 'Details', product%>
</p>
<% end %>
